/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #dee2f2 !important;
  --toolbarbutton-icon-fill: #595e6c !important;
  --toolbar-field-color: #1b1b1d !important;
  --tab-selected-textcolor: #595e6c !important;
  --toolbar-color: #1b1b1d !important;
  --arrowpanel-color: #1b1b1d !important;
  --arrowpanel-background: #f0edef !important;
  --sidebar-text-color: #1b1b1d !important;
  --zen-main-browser-background: #fcf8fa !important;
  --zen-main-browser-background-toolbar: #fcf8fa !important;
}

#zen-browser-background {
  --zen-main-browser-background: #fcf8fa !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #fcf8fa !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #f0edef !important;
}

#zen-workspaces-button {
  background-color: #f0edef !important;
}

#TabsToolbar {
  background-color: #fcf8fa !important;
}

.urlbar-background {
  background-color: #f0edef !important;
}

.urlbar-input::selection {
  color: #ffffff !important;
  background-color: #595e6c !important;
}

.urlbarView-url {
  color: #474648 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #595e6c
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #696f81 !important;
  --identity-icon-color: #696f81 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #595e6c !important;
  --identity-icon-color: #595e6c !important;
}

.identity-color-green {
  --identity-tab-color: #3f8c4b !important;
  --identity-icon-color: #3f8c4b !important;
}

.identity-color-yellow {
  --identity-tab-color: #a5a031 !important;
  --identity-icon-color: #a5a031 !important;
}

.identity-color-orange {
  --identity-tab-color: #999326 !important;
  --identity-icon-color: #999326 !important;
}

.identity-color-red {
  --identity-tab-color: #a5576c !important;
  --identity-icon-color: #a5576c !important;
}

.identity-color-pink {
  --identity-tab-color: #b4b7bf !important;
  --identity-icon-color: #b4b7bf !important;
}

.identity-color-purple {
  --identity-tab-color: #b4b7bf !important;
  --identity-icon-color: #b4b7bf !important;
}

#zen-appcontent-navbar-container {
  background-color: #fcf8fa !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #595e6c !important;
  color: #595e6c !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #595e6c !important;
  color: #595e6c !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #595e6c !important;
}
