/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #424753 !important;
  --toolbarbutton-icon-fill: #c2c6d6 !important;
  --toolbar-field-color: #e4e2e3 !important;
  --tab-selected-textcolor: #c2c6d6 !important;
  --toolbar-color: #e4e2e3 !important;
  --arrowpanel-color: #e4e2e3 !important;
  --arrowpanel-background: #1f1f21 !important;
  --sidebar-text-color: #e4e2e3 !important;
  --zen-main-browser-background: #131315 !important;
}

.sidebar-placesTree {
  background-color: #1f1f21 !important;
}

#zen-workspaces-button {
  background-color: #1f1f21 !important;
}

#TabsToolbar {
  background-color: #131315 !important;
}

.urlbar-background {
  background-color: #1f1f21 !important;
}

.urlbar-input::selection {
  color: #2b303c !important;
  background-color: #c2c6d6 !important;
}

.urlbarView-url {
  color: #c8c6c7 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c2c6d6
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #d8dceb !important;
  --identity-icon-color: #d8dceb !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c2c6d6 !important;
  --identity-icon-color: #c2c6d6 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb4 !important;
  --identity-icon-color: #a5ffb4 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fffba5 !important;
  --identity-icon-color: #fffba5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff972 !important;
  --identity-icon-color: #fff972 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb8 !important;
  --identity-icon-color: #ff9fb8 !important;
}

.identity-color-pink {
  --identity-tab-color: #eef1ff !important;
  --identity-icon-color: #eef1ff !important;
}

.identity-color-purple {
  --identity-tab-color: #525563 !important;
  --identity-icon-color: #525563 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131315 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c2c6d6 !important;
  color: #c2c6d6 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c2c6d6 !important;
  color: #c2c6d6 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c2c6d6 !important;
}
